@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background: #f7f7fa;
}

.rs-sidebar {
    position: fixed;
    height: 100vh;
    z-index: 3;
}

.page-container {
    padding-left: 260px;
    transition: padding 0.5s;
}
.container-full {
    padding-left: 60px;
}